<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Ask Us | SAMOCA</title>

<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="assets/css/typography.css">
<link rel="stylesheet" type="text/css" href="assets/css/layout.css">
<script src="assets/js/jquery-1.7.min.js"></script>
<script src="assets/js/modernizr.js"></script>
<!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="assets/js/selectivizr-min.js"></script>
<![endif]-->
</head>
<body class="not-front">
<div id="page">
    <div id="header">
        <div id="logo">
        	<a href="/"></a>
        </div>
        <nav id="main-menu">
        	<ul class="menu">
            	<li><a href="index.html" class="active">Home</a></li>
            	<li><a href="collections.html">Collections</a></li>                
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="askus.html">Ask Us</a></li>
        	</ul>
        </nav>
    </div>
    
    <section id="main">
    	<div class="wrapper clearfix">
    		<h1>Ask Us</h1>
            <h2>Learn Something New</h2>
            <p>We are not only home to a great collection, but we also have leading experts on staff who love to share their passion for history and the arts.</p>
            <p>Ask our staff any question you might have about our collections or artist roster.<br>You’ll be surprised at what you discover!</p>
            <div class="askus-form">
                <fieldset>
                    <form action="/" method="get">
                        <label>Your Name: <span class="required">*</span></label>
                        <input name="name" id="name" type="text">
                        <label>Subject: <span class="required">*</span></label>
                        <select name="subject" id="subject">
                            <option value="select">Select</option>
                        </select>
                        <label>Email: <span class="required">*</span></label>
                        <input name="email" id="email" type="text">
                        <label>Message: <span class="required">*</span></label>
                        <textarea name="message" id="message" rows="10"></textarea>
                        <div class="buttons">
                        	<input type="submit" value="Send">
                            <input type="reset" value="Cancel">
                    	</div>
                    </form>
                </fieldset>
            </div>
        </div>
    </section>
    
    <section id="sidebar">
    	<div class="wrapper clearfix">
    		
            <aside class="feature-block">
                <h3>become a volunteer</h3>
                <img src="assets/images/volunteer.jpg" width="291" height="154" />
                <div class="block-wrapper">
                    <h4>Have an opinion?<br>Become a Museum Docent</h4>
                    <p>SAMOCA museum docents provide education to further the public's understanding of the cultural and historical collections of the institution.</p>
                    <p class="read-more"><a href="/">learn more &raquo;</a></p>
                </div>
            </aside>
            
            <aside class="content-block">
            	<ul class="content-links">
                	<li class="item-one"><a href="/">Volunteers Needed &raquo;</a></li>
                	<li class="item-two"><a href="/">New Cafe Menu &raquo;</a></li>
                    <li class="item-three"><a href="/">Family Programs &raquo;</a></li>
                </ul>
            	<address>Hours:<br>
				Tuesday - Saturday 10:00 AM - 6:00 PM<br>
				Sunday 12:00 PM - 4:00 PM<br>
				Closed Mondays</address>
            </aside>
    
    	</div>
    </section>

    <section id="social-icons">
    	<div class="wrapper clearfix">
            <ul>
                <li class="facebook"><a href="/"></a></li>
                <li class="twitter"><a href="/"></a></li>
            </ul>
        </div>
    </section>
    
    <section id="footer">
    	<div class="wrapper clearfix">
        	<p>@copy; San Angelico Museum of Contemporary Art,123 Main Street, Ventura, CA 12345 (800)555-1212</p>
        </div>
    </section>
</div>
</body>
</html>