<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Collections | SAMOCA</title>

<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
<link rel="stylesheet" type="text/css" href="assets/css/typography.css">
<link rel="stylesheet" type="text/css" href="assets/css/layout.css">
<script src="assets/js/jquery-1.7.min.js"></script>
<script src="assets/js/modernizr.js"></script>
<!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="assets/js/selectivizr-min.js"></script>
<![endif]-->
</head>
<body class="not-front">
<div id="page">
    <div id="header">
        <div id="logo">
        	<a href="/"></a>
        </div>
        <nav id="main-menu">
        	<ul class="menu">
            	<li><a href="index.html" class="active">Home</a></li>
            	<li><a href="collections.html">Collections</a></li>                
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="askus.html">Ask Us</a></li>
        	</ul>
        </nav>
    </div>
    
    <section id="main">
    	<div class="wrapper clearfix">
    		
            <h1>Current and Upcoming Exhibitions</h1>
            <aside class="exhibit">
            	<figure class="exhibit-img">
                	<img src="assets/images/collections/collection1.jpg" width="259" height="177">
                </figure>
                <h2>Final Weeks!</h2>
                <p class="exhibit-title">Avery Washington</p>
                <p class="exhibit-date">February 15, 2012 - March 29, 2012 </p>
            </aside>
            
            <aside class="exhibit">
            	<figure class="exhibit-img">
                	<img src="assets/images/collections/collection2.jpg" width="259" height="177">
                </figure>
                <h2>Now Showing</h2>
                <p class="exhibit-title">VISION: New Works from the<br>SAMOCA Permanent Collection</p>
                <p class="exhibit-date">January 5, 2012 - December 12, 2012 </p>
            </aside>
            
            <aside class="exhibit">
            	<figure class="exhibit-img">
                	<img src="assets/images/collections/collection3.jpg" width="259" height="177">
                </figure>
                <h2>Upcoming Exhibition</h2>
                <p class="exhibit-title">Paul Shellington:<br>Bird Watching</p>
                <p class="exhibit-date">April 5, 2012 - June 30, 2012 </p>
            </aside>
            
            <h1>Previous Exhibitions</h1>
            <aside class="previous-exhibit">
            	<figure class="exhibit-img">
                	<img src="assets/images/collections/collection4.jpg" width="259" height="117">
                </figure>
                <div class="exhibit-wrapper">
                    <h2>Groundswell:<br>Design Series II</h2>
                    <p class="exhibit-date">April 15, 2011 - August 7, 2011 </p>
                </div>
            </aside>
            <aside class="previous-exhibit">
            	<figure class="exhibit-img">
                	<img src="assets/images/collections/collection5.jpg" width="259" height="117">
                </figure>
                <div class="exhibit-wrapper">
                    <h2>Reflections on Architecture:<br>Imagining Buildings</h2>
                    <p class="exhibit-date">June 22, 2011 - September 29, 2011</p>
                </div>
            </aside>
        </div>
    </section>
    
    <section id="sidebar">
    	<div class="wrapper clearfix">
    		
            <aside class="feature-block">
                <h3>talk to us</h3>
                <img src="assets/images/talk.jpg" width="291" height="154" />
                <div class="block-wrapper">
                    <h4>Have an opinion?<br>Become a Museum Docent</h4>
                    <p>SAMOCA museum docents provide education to further the public's understanding of the cultural and historical collections of the institution.</p>
                    <p class="read-more"><a href="/">learn more &raquo;</a></p>
                </div>
            </aside>
            
            <aside class="content-block">
            	<ul class="content-links">
                	<li class="item-one"><a href="/">Volunteers Needed &raquo;</a></li>
                	<li class="item-two"><a href="/">New Cafe Menu &raquo;</a></li>
                    <li class="item-three"><a href="/">Family Programs &raquo;</a></li>
                </ul>
            	<address>Hours:<br>
				Tuesday - Saturday 10:00 AM - 6:00 PM<br>
				Sunday 12:00 PM - 4:00 PM<br>
				Closed Mondays</address>
            </aside>
    
    	</div>
    </section>

    <section id="social-icons">
    	<div class="wrapper clearfix">
            <ul>
                <li class="facebook"><a href="/"></a></li>
                <li class="twitter"><a href="/"></a></li>
            </ul>
        </div>
    </section>
    
    <section id="footer">
    	<div class="wrapper clearfix">
        	<p>@copy; San Angelico Museum of Contemporary Art,123 Main Street, Ventura, CA 12345 (800)555-1212</p>
        </div>
    </section>
</div>
</body>
</html>